# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# MSVC
Debug/
*.opensdf
*.v11.suo
*.vcxproj.user
*.sdf
Test/
Release/
Simulation/

# SGX
kissdb_u/kissdb_u.c
kissdb_u/kissdb_u.h
kissdb_t/kissdb_t.c
kissdb_t/kissdb_t.h
